<div class="riskTemplate">
  <h2>%%Risk%%</h2>
  <p>{{title}}</p>

  <p class="riskMajorCauseCss riskMajorCauseJs">???</p>
  <p class="riskMajorCauseCss riskMajorCauseJs">???</p>
  <p class="riskMajorCauseCss riskMajorCauseJs">???</p>
  <p class="riskMajorCauseCss riskMajorCauseJs">???</p>

  <div class="secondOpinion">
    <button type="button" class="easeAnime" name="button">
      Vraag second opinion
    </button>
  </div>

</div>
{{yield}}
