<script type="text/javascript" src="assets/js/js.js"></script>
<section class="dashboard">
  {{dashboard-risk }}

  <section class="optionHolder">

    <div class="optionHolderNav">
      <ul>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
      </ul>
    </div>
{{!-- Kill me nameing --}}
<div class="dashboardRiskOptionsHolder">

  <div class="riskOptionsHolder">
    <p>Geslacht Kind:</p>
    <select>
      <option selected>Man</option>
      <option>Vrouw</option>
  </select>
  </div>

  <div class="riskOptionsHolder">
    <p>Leeftijd Kind:</p>
    <input type="number" name="" value="">
  </div>

  <div class="riskOptionsHolder">
    <p>Geslacht:</p>
    <select>
      <option selected>Man</option>
      <option>Vrouw</option>
  </select>
  </div>

  <div class="riskOptionsHolder">
    <p>Geslacht:</p>
    <select>
      <option selected>Man</option>
      <option>Vrouw</option>
  </select>
  </div>

  <div class="riskOptionsHolder">
    <p>Geslacht:</p>
    <select>
      <option selected>Man</option>
      <option>Vrouw</option>
  </select>
  </div>


</div>


  </section>

</section>

{{yield}}
