<section class="riskHolder">

  <div class="barHolder">
    <div class="progressbarHolder">
      <span id="progress" style="height:0%;"  class="progressAnime">
        <span class="shadowBox">0%</span>
      </span>
    </div>
  </div>



  <div class="riskTemplate">
    <div class="riskTemplateCenter">

    <h2 id="riskPlace">0%</h2>
    <p id="riskValue">Low risk</p>
    <p id="riskFactor"> Hoog risico factor</p>
    <p class="riskMajorCauseCss riskMajorCauseJs">Ouders Gescheiden</p>
    <p class="riskMajorCauseCss riskMajorCauseJs">Ouders geen werk</p>
    <p id="riskFactor"> Laag risico factor</p>
    <p class="riskMajorCauseCss riskMajorCauseJs">Ouders Opleinding</p>
    <p class="riskMajorCauseCss riskMajorCauseJs">Ouders Huishouding</p>
  </div>

  </div>
</section>

  <div class="secondOpinion">
    <div class="secondOpinionCenter">
      <button type="button" onclick="open_overlay" class="easeAnime" name="button">
        Totaal analyse
      </button>
      <button type="button" onclick="location.href='mailto:test';" class="easeAnime" name="button">
        Vraag second opinion
      </button>
    </div>

  </div>
{{yield}}
