{{!-- <h2>{{title}}</h2>
<p>Yea boi</p> --}}
<nav>
  <div>
    <div class="logo">
    </div>
  </div>
  <h1>Risk analysis</h1>

  <ul>
    {{!-- {{#each navItem as |navItem|}} --}}

      <li {{action "actionNav" navItem}} class="navItem">
        <p class="easeAnime">
          {{!-- {{navItem}} --}}
          Link nummero 1
        </p>
      </li>

    {{!-- {{/each}} --}}
  </ul>
</nav>
{{!-- Dit moet denk later in een eigen template/component --}}
<div class="topNav">

</div>


{{yield}}
