.overlay {
  position: fixed;
  z-index: 1;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 70%;
  height: 500px;
  max-height: 700px;
  margin: 0 auto;
  padding: 10px;

  border-radius: 5px;
  background-color: white;
}

.overlayShadow {
  position: fixed;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.displayNone {
  display: none;
}
