<main>

  <div class="squareHolder">
    <h2 class="squareHolderH2">Hulp Zorg applicatie</h2>

    <div class="square shadow">
      <a href="#">
        <div class="innerSquare">
          <h2>William schrikker groep veiligheidslijst</h2>
        </div>
      </a>
    </div>

    <div class="square shadow">
      <a href="/risicoanalyse">
        <div class="innerSquare">
          <h2>Jeugd zorg risico analyse</h2>
        </div>
      </a>
    </div>

  </div>
</main>

{{outlet}}
